@font-face
{
    font-family: "MyFont";
    src: url("KBZipaDeeDooDah.woff");
}
@font-face
{
    font-family: "MyFont2";
    src: url("Toxia_FRE.woff");
}
@font-face
{
    font-family: "MyFont3";
    src: url("Adlery-Pro-Blockletter-trial.woff");
}


:root{

}
*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
width: 1550px;
max-width: 100%;
max-height: 100%;
}

.wallpaler img {
object-fit: cover;
height: 100vh;
width: 1680px;
max-width: 100%;
max-height: 100%;

position: absolute;
    left: 0px;
    top: 0px;
    z-index: 6;

}


.Rectangle_1{
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 30px;
    background-color: rgb(0, 0, 0);
    opacity: 0.549;
    box-shadow: 0px 0px 76px 0px rgba(255, 255, 254, 0.73),0px 15px 3.72px 0.28px rgba(1, 80, 209, 0.9);
    width: 378px;
    height: 500px;
    z-index: 100;
    overflow: hidden;
  
}

.login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    position: absolute;

}


.login h1{

font-family: myfont2;
font-size: 50px;
color: rgb(255, 255, 255);
position: relative;
top: 40px;
left: 75px;
text-transform: capitalize;

border-bottom: 1px solid white;


}

form{

font-family: myfont;
top: 40px;
position: relative;
padding: 50px
}
form label{


    
}
.login button {
width: ;
    
}
form input[type="text"]{
    width: 300px;
    height: 40px;
    
}
.formgroup input[type="text"]::placeholder::before{
    font-family: "Font Awesome 5 Free"; /* Specify the Font Awesome font family */
    content: "\f007"; /* Use the Unicode code for the desired icon (e.g., user icon) */
    margin-right: 5px; /* Add some spacing between the icon and placeholder text */
    color: #555; /* Adjust the color of the icon */
}
  

/* }
.wallpaler {
    background-image: url("s.jpg");
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1680px;
    height: 1050px;
    z-index: 1;
  } */
  


form {
    color: #fff;
     text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
    font-family: MyFont3;
    font-size: 30px;
   
}
.formgroup label{
  z-index: 2;
  

}
 .formgroup input{
    /* display: block; */
   color: #fff;
    border-radius: 10px;
    width: 300px;
    height: 40px;
    padding: 5px;
    background-color: #080f08e2;
    transition: 3ms ;
    font-size: 25px;
    font-family: myfont2 ;
    text-transform: capitalize;
    z-index: 1;
 }
 .formgroup input[type=text]::placeholder{
font-family: myfont2;  
color: aqua;
font-size:25px ;

}
.w input[type=password]::placeholder{
    font-family: myfont2; 
    color: aqua; 
font-size:25px ;
    
    }
    
    .w span{
        font-size:20px ;
        color:rgb(30, 201, 244);
        text-shadow: none;
        cursor: pointer;
    }
.w span:any-link {
    text-decoration: none;

}

    button{
        margin-top: 30px;
        width: 300px;
        padding: 15px;
        border: none;
        border-radius: 20px;
        background-color: aqua;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
        font-size: 30px;
        cursor: pointer;
    }
    button:active {
        
        background-color: #0073e6;
        color: #fff;
    }
    button:hover ,t {
 
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6 ;

    }
    .formgroup input:hover{
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 1px #0073e6, 0 0 20px #0073e6, 0 0 5px #0073e6, 0 0 3px #0073e6, 0 0 35px #0073e6 ;
        z-index: 1;

    }

    .formgroup input:active{
        border: none;
        outline: none;
    }